<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/landing_page.css">
    <title>Login & Signup</title>
</head>
<body>
    <div class="container">
        <!-- Left Section -->
        <div class="left-half">
            <div class="logo-section">
                <img src="../SAARTHI.jpeg" alt="Saarthi Logo">
                <h1>SAARTHI</h1>
            </div>
            <div class="quote-section">
                <p style="animation-delay: 0s;">
                    <span class="highlight-knowledge">KNOWLEDGE</span> generation is <span class="highlight-action">RESEARCH</span>
                </p>
                <p style="animation-delay: 1s;">
                    <span class="highlight-knowledge">KNOWLEDGE</span> transmission is <span class="highlight-action">TEACHING</span>
                </p>
                <p style="animation-delay: 2s;">
                    <span class="highlight-knowledge">KNOWLEDGE</span> application is <span class="highlight-action">INNOVATION-ENTREPRENEURSHIP</span>
                </p>
                <p class="attribution">- Professor B Ravi</p>
            </div>
        </div>
        <!-- Right Section -->
        <div class="right-half">
            <div><h4>Get Started!</h4></div>
            <div class="button-group">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>
        </div>
    </div>
</body>
</html>