<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <img class="suc" src="/img/success.png" alt="">
    <img class="pow" src="/img/power.png" alt="">
    <img class="read" src="/img/read.png" alt=" ">
    <img class="reading" src="/img/reading.png" alt=" ">
    <div class="container">
        <form action="/login" method="post" class="sign-in-form">
            <h2 class="title">Welcome Back!</h2>
            <div class="input-field">
                <input type="text" id="loginEmail" placeholder="Username" name="username"required>
                <i class="fas fa-envelope"></i>
            </div>
            <div class="error-message" id="loginEmailError">Please enter a valid email address</div>
            
            <div class="input-field">
                <input type="password" id="loginPassword" placeholder="Password" name="password" required>
                <i class="fas fa-lock"></i>
            </div>
            <div class="error-message" id="loginPasswordError">Password must be at least 6 characters</div>
            
            <button type="submit" class="btn">Login</button>
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="toggle-container">
                <p>Don't have an account? 
                    <a href="./signup" class="toggle-btn">Sign up</a>
                </p>
            </div>
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>